<?xml version="1.0" encoding="UTF-8"?>
<config>
    <common>
        <nickname>DBV5</nickname>
        <username>DBV5@dasprids.de</username>
        <prefix>!</prefix>
    </common>
    <server>
        <hostname>irc.freenode.net</hostname>
        <port>8000</port>
    </server>
    <nickserv>
        <username></username>
        <password></password>
    </nickserv>
</config>
